<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Love Calculator API</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper #ec407a pink lighten-1">
            <a href="#" class="brand-logo center">Love Calculator</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
              <div class="card">
                <div class="card-content #e040fb purple accent-2">
                  <span class="card-title">Love Calculator API</span>
                  <p>This API gives you the percentage of love in between you and your partner.</p>
                </div>
                <div class="card-content #e040fb purple accent-2">
                    <span class="card-title">How to use ?</span>
                    <p>It recieves two names one of you and other for your partner and then make a request on "http://localhost:5000/api/"</p>
                  </div>
              </div>
          </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>