<!-- Site footer -->
<footer class="site-footer">
    <div>
        <center>
            <p class="copyright-text">
              Copyright &copy; 2020. All Rights Reserved.
            </p>
        </center>
    </div>
</footer>
  